<h1>Welcome</h1>
<p>Welcome to DreamBooks </p>
<p>Post stories from your life and choose for them to be read by the world or completely private as your own personal dream</p>
{{#if user}}
{{else}}
    <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i>Login With Google</a>
{{/if}}